/* DEFAULT STYLE RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*MAIN PART OF STYLESHEET*/
/* add media queries under 1000px width*/
body {
	background-image: url("bg-image.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	font-family: 'Poppins', sans-serif;

}
h1 {
	text-align: center;
	font-size: 30px;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 0.25px solid #e6e6e6;
	border-left: none;
	border-right: none;
	margin-top: 38%;
	height: 40px;
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%,rgba(255,255,255,1) 39%);
	font-weight: 300;
	font-size: 24px;
	letter-spacing: 2px;
}
nav a {
	color: black;
	text-decoration: none;
}
nav a:hover {
	opacity: 0.6;
}
#title {
	margin-left: -4%;
	color: white;	
}
main {
	padding-top: 10px;
}
#about {
	display: inline-block;
}
#about h1 {
	margin-bottom: 15px;
	text-decoration: underline;
}
#img-div {
	float: left;
	width: 38%;
	letter-spacing: 1px;
	font-size: 11px;
	padding-left: 10%;
	margin-top: 4px;
	text-align: center;
}
#image {
	display: block;
	margin-bottom: 2px;
	height: auto;
	width: 100%;
	border-radius: 10px;
}
#tribute-info {
	/* margin-left: 10px; */
	/* text-align: center; */
	/* width:  100%; */
}
#p-div {
	display: inline-block;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	width: 35%;
	margin-right: 10%;
	margin-left: 10px;
}
p {
	line-height: 150%;
	text-align: justify;	
}
