/* DEFAULT STYLE RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*MAIN PART OF STYLESHEET*/
/* add media queries under 1000px width*/
html body {
	text-align:center;
}
body {
	background-image: url("bg-image.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	font-family: 'Poppins', sans-serif;
}
h1 {
	text-align: center;
	font-size: 30px;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 0.25px solid #e6e6e6;
	border-left: none;
	border-right: none;
	margin-top: 38%;
	height: 40px;
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%,rgba(255,255,255,1) 39%);
	font-weight: 300;
	font-size: 24px;
	letter-spacing: 2px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	margin-bottom: 15px;
}
nav a {
	color: black;
	text-decoration: none;
}
nav a:hover {
	opacity: 0.6;
}
#title {
	color: white;
}
main {
	padding-top: 10px;
}
#about {
	display: inline-block;
}
#about h1 {
	margin-bottom: 15px;
	text-decoration: underline;
}
#img-div {
	float: left;
	width: 38%;
	letter-spacing: 1px;
	font-size: 11px;
	margin-top: 4px;
	text-align: center;
	margin-left:  10%;
}
#image {
	display: block;
	margin-bottom: 2px;
	height: auto;
	width: 100%;
	border-radius: 10px;
}
img {
  max-width: 100%; 
  display: block; 
  height: auto;
  margin: auto;
}
#p-div {
	display: inline-block;
	float: right;
	width: 40%;
	margin-right: 8%;
}
p {
	line-height: 150%;
	text-align: justify;	
}
#biocentrism {
	display: inline-block;
	margin-top: 20px;
}
#biocentrism h1 {
	text-decoration: underline;
	margin-bottom: 15px;
}
#imgbio-div {
	display: inline-block;
	float: right;
	width: 35%;
	margin-top: 4px;
	margin-right:  4%;
	letter-spacing: 1px;
	font-size: 11px;
	text-align: center;
}
#imgbio {
	width: 90%;
	height: auto;
	margin-right: 10%;
	border-radius: 10px;
	margin-bottom: 2px;
}
#p-bio {
	display: inline-block;
	float: left;
	width: 50%;
	padding-left: 10%;
}
#med {
	display: inline-block;
	margin-top: 20px;
}
#med h1 {
	margin-bottom: 15px;
	text-decoration: underline;
}
#medimg-div {
	float: left;
	width: 38%;
	letter-spacing: 1px;
	font-size: 11px;
	margin-top: 4px;
	text-align: center;
	margin-left:  10%;
}
#medimg {
	display: block;
	margin-bottom: 2px;
	height: auto;
	width: 100%;
	border-radius: 10px;
}
#p-med {
	display: inline-block;
	float: right;
	width: 40%;
	margin-right: 8%;
}
#resources {
	margin-top: 20px;
}
#resource h1 {
	margin-bottom: 25px;
}
#ul-p {
	margin-left: 10%;
	font-size: 17px;
	text-decoration:  underline;
}
a {
	text-decoration: none;
}
ul {
	text-align: left;
	margin-left: 13%;
	line-height: 300%;
	list-style-type: circle;
}
footer {
	margin-left: 2%;
	font-size: 11px;
	margin-top: 50px;
	margin-bottom:  25px;
	font-style:  italic;
}

/*MEDIA QUERIES FOR LES THAN 750 width*/
@media only screen and (max-width: 750px) {
	h1 {
		font-size: 20px;
	}
	nav {
		font-size: 18px;
	}
	#img-div {
		margin-left: 8%;
	}
	#p-div {
		width: 40%;
		margin-right: 7%;
	}
	p {
		line-height: 110%;
		font-size: 12px;

	}

}
